.button {
    height: 70px;
    line-height: 60px;
    margin: 15px 15px!important;
    padding:10px 5px;
    text-align: left!important;
    transition: all 0.3s ease 0s;
    border: 1px solid white!important;
  }
  .card_box{
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    background-color:#1e1f26!important;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
}
    